{{- range .aws.credentials }}
[{{ .profile }}]
aws_access_key_id={{ .access_key_id }}
aws_secret_access_key={{ .secret_access_key }}
{{- with .session_token }}
aws_session_token={{ . }}
{{- end }}
{{- with .region }}
region={{ . }}
{{- end }}

{{- end }}