{{- $name := promptStringOnce . "name" "Full Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $go_bins := promptBoolOnce . "go_bins" "Install Go Binaries? (y/n)" -}}

{{- $remote := promptBoolOnce . "remote" "Is this a remote machine? (y/n)" -}}

{{- $proxy := promptStringOnce . "proxy" "Proxy URL [none]" -}}
{{- $no_proxy := "" -}}
{{- if ne $proxy "" -}}
{{- $no_proxy = promptStringOnce . "no_proxy" "No Proxy" -}}
{{- end -}}

{{- $ai := "unset" -}}
{{- if and (hasKey . "secrets") (hasKey .secrets "ai") -}}
  {{- $ai = .secrets.ai -}}
{{- end -}}

{{- $octoprint_key := "unset" -}}
{{- if and (hasKey . "secrets") (hasKey .secrets "octoprint_key") -}}
  {{- $octoprint_key = .secrets.octoprint_key -}}
{{- end -}}

{{- $gitmachines := list -}}
{{- if and (hasKey . "git") (hasKey .git "machines") -}}
  {{- $gitmachines = .git.machines -}}
{{- else -}}
{{- range $i, $e := (until (promptInt "Number of Git instances" | int)) -}}
  {{- $gitmachines = append $gitmachines (dict 
    "url" (promptString (printf "Git URL %d" $i))
    "name" (promptString (printf "Git Name %d" $i))
    "email" (promptString (printf "Git Email %d" $i))
    "token" "unset"
    "private" (promptBool (printf "Is Git Private? (y/n) %d" $i))
  ) -}}
{{- end -}}
{{- end -}}

{{- $mavenRepos := list -}}
{{- if and (hasKey . "maven") (hasKey .maven "repos") -}}
  {{- $mavenRepos = .maven.repos -}}
{{- else -}}
{{- range $i, $e := (until (promptInt "Number of Maven repos" | int)) -}}
  {{- $mavenRepos = append $mavenRepos (dict 
    "id" (promptString (printf "Maven Id %d" $i))
    "username" (promptString (printf "Maven Username %d" $i))
    "password" "unset"
  ) -}}
{{- end -}}
{{- end -}}

{{- $docker_registries := list -}}
{{- if and (hasKey . "docker") (hasKey .docker "registries") -}}
  {{- $docker_registries = .docker.registries -}}
{{- else -}}
{{- range $i, $e := (until (promptInt "Number of Docker registries" | int)) -}}
  {{- $docker_registries = append $docker_registries (dict 
    "url" (promptString (printf "Registry URL %d" $i))
    "token" "unset"
  ) -}}
{{- end -}}
{{- end -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    go_bins = {{ $go_bins }}
    proxy = {{ $proxy | quote }}
    no_proxy = {{ $no_proxy | quote }}
    remote = {{ $remote }}
[data.secrets]
    ai = {{ $ai | quote }}
    octoprint_key = {{ $octoprint_key | quote }}
[data.git]
{{- range $gitmachines }}
[[data.git.machines]]
    url = {{ .url | quote }}
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    token = {{ .token | quote }}
    private = {{ .private }}
{{- end }}
[data.docker]
{{- range $docker_registries }}
[[data.docker.registries]]
    url = {{ .url | quote }}
    token = {{ .token | quote }}
{{- end }}
{{- range $mavenRepos }}
[[data.maven.repos]]
    id = {{ .id | quote }}
    username = {{ .username | quote }}
    password = {{ .password | quote }}
{{- end }}
[edit]
    command = "code"
    args = "--wait"