{{- $name := promptStringOnce . "name" "Full Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $go_bins := promptBoolOnce . "go_bins" "Install Go Binaries? (y/n)" -}}

{{- $remote := promptBoolOnce . "remote" "Is this a remote machine? (y/n)" -}}

{{- $gitlab_group := promptStringOnce . "dev.gitlab_group" "Base Gitlab group" -}}
{{- $dev_path := promptStringOnce . "dev.dev_path" "Path to dev dir" -}}
{{- $main_path := promptStringOnce . "dev.main_path" "Path to main development dir" -}}

{{- $proxy := promptStringOnce . "proxy" "Proxy URL [none]" -}}
{{- $altproxy := promptStringOnce . "altproxy" "Alternative Proxy URL [none]" -}}
{{- $no_proxy := "" -}}
{{- if or (ne $proxy "") (ne $altproxy "") -}}
{{- $no_proxy = promptStringOnce . "no_proxy" "No Proxy" -}}
{{- end -}}

{{- $ai := "unset" -}}
{{- if and (hasKey . "secrets") (hasKey .secrets "ai") -}}
  {{- $ai = .secrets.ai -}}
{{- end -}}

{{- $octoprint_key := "unset" -}}
{{- if and (hasKey . "secrets") (hasKey .secrets "octoprint_key") -}}
  {{- $octoprint_key = .secrets.octoprint_key -}}
{{- end -}}

{{- $gitmachines := list -}}
{{- if and (hasKey . "git") (hasKey .git "machines") -}}
  {{- $gitmachines = .git.machines -}}
{{- else -}}
{{- range $i, $e := (until (promptInt "Number of Git instances" | int)) -}}
  {{- $gitmachines = append $gitmachines (dict 
    "url" (promptString (printf "Git URL %d" $i))
    "name" (promptString (printf "Git Name %d" $i))
    "email" (promptString (printf "Git Email %d" $i))
    "token" "unset"
    "private" (promptBool (printf "Is Git Private? (y/n) %d" $i))
  ) -}}
{{- end -}}
{{- end -}}

{{- $aiMcps := list -}}
{{- if and (hasKey . "ai") (hasKey .ai "mcps") -}}
  {{- $aiMcps = .ai.mcps -}}
{{- else -}}
{{- range $i, $e := (until (promptInt "Number of AI MCP servers" | int)) -}}
  {{- $aiMcps = append $aiMcps (dict
    "name" (promptString (printf "MCP name %d" $i))
    "type" (promptString (printf "MCP type %d" $i))
    "url" (promptString (printf "MCP URL %d [none]" $i))
  ) -}}
{{- end -}}
{{- end -}}

{{- $ai_aws_bedrock_profile := promptStringOnce . "ai.providers.aws.profile" "AI AWS Bedrock Profile [none]" -}}
{{- $ai_aws_bedrock_region := "" -}}
{{- if ne $ai_aws_bedrock_profile "" -}}
{{- $ai_aws_bedrock_region = promptStringOnce . "ai.providers.aws.region" "AI AWS Bedrock Region [none]" -}}
{{- end -}}

{{- $ai_aws_cs_env_id := "" -}}
{{- $ai_aws_cs_role_name := "" -}}
{{- if and (hasKey . "ai") (hasKey .ai "providers") (hasKey .ai.providers "aws_cs") -}}
  {{- $ai_aws_cs_env_id = .ai.providers.aws_cs.env_id -}}
  {{- $ai_aws_cs_role_name = .ai.providers.aws_cs.role_name -}}
{{- end -}}

{{- $mavenRepos := list -}}
{{- if and (hasKey . "maven") (hasKey .maven "repos") -}}
  {{- $mavenRepos = .maven.repos -}}
{{- else -}}
{{- range $i, $e := (until (promptInt "Number of Maven repos" | int)) -}}
  {{- $mavenRepos = append $mavenRepos (dict 
    "id" (promptString (printf "Maven Id %d" $i))
    "username" (promptString (printf "Maven Username %d" $i))
    "password" "unset"
  ) -}}
{{- end -}}
{{- end -}}

{{- $altproxy_commands := "" -}}
{{- if hasKey . "altproxy_commands" -}}
{{- $altproxy_commands = join "," .altproxy_commands -}}
{{- else -}}
{{- $altproxy_commands = promptString "Comma seperated list of commands that need altproxy rules [none]" -}}
{{- end }}

{{- $docker_registries := list -}}
{{- if and (hasKey . "docker") (hasKey .docker "registries") -}}
  {{- $docker_registries = .docker.registries -}}
{{- else -}}
{{- range $i, $e := (until (promptInt "Number of Docker registries" | int)) -}}
  {{- $docker_registries = append $docker_registries (dict 
    "url" (promptString (printf "Registry URL %d" $i))
    "token" "unset"
  ) -}}
{{- end -}}
{{- end -}}
{{- $docker_mirror := promptStringOnce . "docker.mirror" "Docker Mirror" -}}

{{- $awsCredentials := list -}}
{{- if and (hasKey . "aws") (hasKey .aws "credentials") -}}
  {{- $awsCredentials = .aws.credentials -}}
{{- else -}}
{{- range $i, $e := (until (promptInt "Number of AWS credential profiles" | int)) -}}
  {{- $awsCredentials = append $awsCredentials (dict 
    "profile" (promptString (printf "AWS Profile Name %d" $i))
    "access_key_id" "unset"
    "secret_access_key" "unset"
    "session_token" ""
    "region" (promptString (printf "AWS Region %d [none]" $i))
  ) -}}
{{- end -}}
{{- end -}}

{{- $default_ctx := promptStringOnce . "default_ctx" "Default Kubeconfig Context" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    go_bins = {{ $go_bins }}
    proxy = {{ $proxy | quote }}
    altproxy = {{ $altproxy | quote }}
    no_proxy = {{ $no_proxy | quote }}
    remote = {{ $remote }}
    default_ctx = {{ $default_ctx | quote }}
    altproxy_commands = [
{{- range split "," $altproxy_commands }}
{{- if . }}
      {{ . | quote }},
{{- end }}
{{- end }}
    ]
[data.secrets]
    ai = {{ $ai | quote }}
    octoprint_key = {{ $octoprint_key | quote }}
[data.git]
{{- range $gitmachines }}
[[data.git.machines]]
    url = {{ .url | quote }}
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    token = {{ .token | quote }}
    private = {{ .private }}
{{- end }}
[data.ai]
{{- range $aiMcps }}
[[data.ai.mcps]]
    name = {{ .name | quote }}
    type = {{ .type | quote }}
    url = {{ .url | quote }}
{{- end }}
[data.ai.providers.aws]
    profile = {{ $ai_aws_bedrock_profile | quote }}
    region = {{ $ai_aws_bedrock_region | quote }}
[data.ai.providers.aws_cs]
    env_id = {{ $ai_aws_cs_env_id | quote }}
    role_name = {{ $ai_aws_cs_role_name | quote }}
[data.docker]
    mirror = {{ $docker_mirror | quote }}
{{- range $docker_registries }}
[[data.docker.registries]]
    url = {{ .url | quote }}
    token = {{ .token | quote }}
{{- end }}
{{- range $awsCredentials }}
[[data.aws.credentials]]
    profile = {{ .profile | quote }}
    access_key_id = {{ .access_key_id | quote }}
    secret_access_key = {{ .secret_access_key | quote }}
    session_token = {{ .session_token | quote }}
    region = {{ .region | quote }}
{{- end }}
{{- range $mavenRepos }}
[[data.maven.repos]]
    id = {{ .id | quote }}
    username = {{ .username | quote }}
    password = {{ .password | quote }}
{{- end }}
[ data.dev ]
    gitlab_group = {{ $gitlab_group | quote }}
    dev_path = {{ $dev_path | quote }}
    main_path = {{ $main_path | quote }}
[edit]
    command = "code"
    args = "--wait"
