[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingkey = {{ index (glob (print .chezmoi.homeDir "/.ssh/id_*.pub")) 0 }}
[gpg]
        format = ssh
[commit]
        gpgsign = true
[init]
    defaultBranch = main
	templateDir = {{ .chezmoi.homeDir }}/.git-template
{{- if eq .proxy "" }}
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
{{- end }}
