[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingkey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub
[gpg]
        format = ssh
[commit]
        gpgsign = true
[init]
    defaultBranch = main
	templateDir = {{ .chezmoi.homeDir }}/.git-template
{{- if eq .proxy "" }}
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
{{- end }}