#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'

export LC_ALL="en_US.UTF-8"

# Setup Custom Behaviour Scripts
for file in ~/scripts/setup-*.bash; do
  . "$file"
done

. "$HOME/.cargo/env"
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
