#! /bin/bash
# This script renders out gitconfigs for all defined git instances.

mkdir -p ~/.gitconfigs
rm -f ~/.gitconfigs/*
{{- range $i, $gitInstance := .git.machines}}
cat <<EOF > ~/.gitconfigs/.gitconfig-{{ $i }}
[user]
    name = {{ $gitInstance.name }}
    email = {{ $gitInstance.email }}
EOF
{{- end }}
