#! /bin/bash
# This script creates symlinks in /etc to the rendered ~/.chezmoi_etc.

set -eu

SRC_ROOT="{{ .chezmoi.homeDir }}/.chezmoi_etc"
DST_ROOT="/etc"

[ -d "$SRC_ROOT" ] || exit 0

find "$SRC_ROOT" -type f -print0 | while IFS= read -r -d '' src; do
  rel="${src#"$SRC_ROOT"/}"
  dst="$DST_ROOT/$rel"

  sudo mkdir -p "$(dirname "$dst")"

  sudo ln -sfn "$src" "$dst"
done
