{
  {{- if (hasKey .docker "registries") }}
  "auths": {
    {{- $len := len .docker.registries }}
    {{- range $i, $e := .docker.registries }}
    {{ $e.url | quote }}: {
      "auth": {{ $e.token | quote }}
    }{{ if ne (add $i 1) $len }},{{ end }}
    {{- end }}
  }
  {{- end }}
  {{- if .proxy }},
  "proxies": {
    "default": {
      "httpProxy": {{ .proxy | quote }},
      "httpsProxy": {{ .proxy | quote }},
      "noProxy": {{ .no_proxy | quote }}
    }
  }
  {{- end }}
  {{- if .docker.mirror }},
  "registry-mirrors": ["{{ .docker.mirror | quote }}"]
  {{- end }}
}